[2019-08-29 12:41] richelbilderbeek opened #1 "What will we be doing this year?"
See [here](https://github.com/richelbilderbeek/djog_unos_2019/issues/1) for older

[2019-08-29 18:50] Rijk-van-Putten opened #2 "Decide on graphics library"

[2019-08-29 18:54] richelbilderbeek commented on #1
Tank Battle game!

[2019-08-29 18:57] Rijk-van-Putten commented on #2
We can use Java 2D

[2019-08-29 18:57] Rijk-van-Putten opened #3 "Decide on IDE"

[2019-08-29 19:37] richelbilderbeek commented on #3
I think I'll enjoy `netbeans`, as I can install that with:

[code]

Are there drawbacks on Netbeans?

[2019-08-30 08:38] Rijk-van-Putten commented on #3
We can create a maven project and then everyone can use their own IDE.
Netbeans, Eclispe & IntelliJ have support for maven by default.  VS Code has the java extension pack with support for maven.

[2019-08-30 11:23] richelbilderbeek opened #4 "Host game on itch?"
I checked Rijk's (awesome!) itch.io account. I see that we can let itch.io host Java games. I just want to have it mentioned someplace: would be cool to get some more experience to put games on itch.io.

[2019-09-01 07:20] richelbilderbeek commented on #2
I think [litiengine](https://github.com/gurkenlabs/litiengine) looks cool: I know the authors (not personally though), but I would be up for writing from scratch.

May I suggest we vote next week?

Vote will be for: will we write our game (1) from scratch or (2) use a 2d gaming engine?

[2019-09-01 10:18] Rijk-van-Putten commented on #2
Yes, that's a good idea.
Litiengine is also compatible with maven.

[2019-09-04 19:27] Joshua260403 commented on #2
I looked at a bunch of libs and they all look pretty complicated accept for litiengine, so I am pro-liti

[2019-09-04 19:29] Joshua260403 commented on #3
I find that we shouldn't depend on an IDE, meaning we don't have to choose one.
Instead everyone can just use their preffered IDE.

[2019-09-04 19:38] Joshua260403 opened #5 "Install java"
See [install_java.md](https://github.com/djog/djog_unos_2019/tree/master/doc/install_java.md) for instructions on windows.

[2019-09-04 19:39] Joshua260403 commented on #1
I will be your tank expert throughout this wonderful journey

[2019-09-05 17:05] RafayelGardishyan commented on #3
I advice, as a huge Java user to use **IntelliJ Idea** or **Eclipse**
I really recommend not to use VS Code since it's originally made to be good at C# and C++ and not the other languages.

But my biggest advice would be to use your own IDE, so that everyone could program in the environiment he or she likes

[2019-09-05 17:06] RafayelGardishyan commented on #4
Nice idea, I vote for this idea

[2019-09-05 17:08] RafayelGardishyan commented on #2
I recommend using LWJGL (LightWeight Java Graphics Library). It's lightweight and simple to use, although for me

[2019-09-05 17:16] RafayelGardishyan commented on #5
Now also Linux instructions are added to the file.

Good Luck!

[2019-09-05 18:17] RafayelGardishyan opened #6 "Play around with Java"
Hi,
The most of us don't have experience with Java so I've created a simple playground in this repo.
Feel free to play around and explore Java for yourself

[2019-09-05 18:35] kombossen commented on #1
Volgens mij is dit dan klaar :+1:

[2019-09-05 18:35] #1 closed

[2019-09-05 19:07] RafayelGardishyan opened #7 "VOTE: Which graphics library should we use"
Hi everyone

We have to use a graphics and there is no  library chosen.
In 1 week (On 12 September) on 20:00 we are going to vote on the library. Suggest your favorite library in #2 .

Requirements for a library to be voted on:
- Be compatible with Java version 12
- Easy to use for beginners
- Not a must but lightweight libraries are appreciated

Before this time you can play around in the "playgr

[2019-09-05 19:25] RafayelGardishyan opened #8 "VOTE: Should we use "Maven""
Hi everyone,

@Rijk-van-Putten has suggested to use **Maven**. Maven is a build automation tool used primarily for Java projects. Maven addresses two aspects of building software: first, it describes how software is built, and second, it describes its dependencies. (source: [Wikipedia](https://en.wikipedia.org/wiki/Apache_Maven))

Research it for yourself and in a week (12 September) at 20:00 we a

[2019-09-05 19:34] RafayelGardishyan opened #9 "VOTE: Are we going to use Wiki"
Hi everyone,
Another vote issue here.
This time it's about using Wiki pages for our game/project. @Joshua260403 said that he would like to contribute to the Wiki is he has time, and the others can do that also.

Next week, 12 September at 20:00 we're going to vote. So be there

Regards,
[Rafayel G.](https://github.com/djog/djog_unos_2019)

[2019-09-05 19:58] RafayelGardishyan opened #10 "VOTE: Should we use "Docker""
Hi everyone,
Another voting issue: Are we going to use **Docker**?
Docker is a set of platform-as-a-service products that use OS-level virtualization to deliver software in packages called containers. Containers are isolated from one another and bundle their own software, libraries and configuration files; they can communicate with each other through well-defined channels. (source: [Wikipedia](htt

[2019-09-05 20:01] RafayelGardishyan opened #11 "BUG: Make sure that everyone can use the code in the repo in his/her own repo"
At the moment only me (@RafayelGardishyan ) can run the program that I have submitted. The task is to make sure that everyone can run the main class.

[2019-09-06 17:20] robkruger opened #12 "Friday died?"
Is nobody coming on Friday anymore? If so I'll come on Thursday from now on. That's like Friday also at 19:00 till 22:00?

[2019-09-07 07:21] richelbilderbeek commented on #12
That must have been ungezellig!

I'd prefer having still two days for Team Octane and I sent an email to @antonhensen81 to discuss this.

I suggested to -like last year- work on the same game on both days. I am unsure about this, but he may be the most experienced Java programmer of us all. For me, that would mean Team Octane can work twice as much :smiling_imp:!

I'll await Anton's response, that

[2019-09-07 09:43] Rijk-van-Putten commented on #10
Do we need to use it?? The primary concept of Java is to be accessible to multiple platforms. A .jar file can be executed on multiple platforms by the JRE. .jar files can be executed on Windows, Linux & Mac if the JRE is installed. I think we should only use docker if we need it. Maybe we need to decide the platforms first.

[2019-09-07 09:50] Rijk-van-Putten commented on #4
Also a vote for me. But note that most modern browsers don't support java anymore. So it doesn't make sense to make it browser playable since most people won't be able to play it in their browser. Instead we should have a downloadable .jar file or an installer depending on the platform.

[2019-09-07 09:59] Rijk-van-Putten commented on #8
Its hard to use multiple IDE's without using something like Maven or Gradle. Its only a bit harder to set up. I have tried installing maven and it worked fine for me in a few minutes.

[2019-09-07 11:46] Joshua260403 commented on #8
I dont think we should because i dont see the need and i can compile java
just fine with `javac`

Op za 7 sep. 2019 11:59 schreef Rijk van Putten <notifications@github.com>:

[2019-09-07 16:41] antonhensen81 commented on #12
I had a good time discussing a bit of the basics of Object Oriented Programming (OOP) with Rob.

For those who don't know, we initially had the idea of having two projects going. One on Thursday and on Friday. However, I haven't seen any turnup on the Fridays, other than Rob being there yesterday. I therefore asked Rob if he would be into doing a separate project on Fridays, but he prefers to stic

[2019-09-08 18:52] richelbilderbeek commented on #12
I think -following Anton- we should let the teenagers decide. They can have two days a week of awesomeness, but there needs to be a decent group on Fridays.

I will poll Thursday (I forgot last thursday).

[2019-09-08 18:53] richelbilderbeek opened #13 "POLL: Interest in the Friday?"
On Friday, there is another (and more quiet) evening of awesomeness. But unless the group of teens doesn't grow, the Friday will shut down.

Who has the intention on visiting the Friday?

[2019-09-12 18:06] RafayelGardishyan opened #14 "RESULTS: Voting on 20 September"
Hi everyone,

After a very impressive round of voting we have chosen the following outcomes:

|Subject | Outcome|
|-----------|------------|
|Use Docker | :x: |
|Use Maven | :x: |
|Use Wiki | :heavy_check_mark: |
|Which GL | LWJGL |

If you want to comment this, feel free to do so in the comments

Thanks for your attention,
Rafayel G.

[2019-09-12 18:18] RafayelGardishyan opened #15 "Install LWJGL"
Since we're using Light Weight Java Game Library, we have to install it. This has to be done by someone and that person has to write a documentation

[2019-09-12 18:24] RafayelGardishyan opened #16 "TIP: If you have time, watch these tutorials"
Hi everyone,
I've found a tutorial series about LWJGL in which the tutor explains how to use it to make a 2d game in Java and LWJGL. I recommend you to watch this tutorials to learn more about Java and LWJGL.
Here is the link: [Tutorial](https://www.youtube.com/watch?v=VH9KAhjXVFM&list=PLILiqflMilIxta2xKk2EftiRHD4nQGW0u)

Also if you want to learn more Java syntax, you can do that on codecademy.co

[2019-09-12 18:33] RafayelGardishyan opened #17 "GAMEDESIGN: Brainstorm about the game"
Brainstorm about the game with 2 or more people and make decisions.

(Rafayel will make a simple animated video with the game demo to demonstrate the idea)

[2019-09-12 18:43] richelbilderbeek opened #18 "Make IRC channel"
We need an IRC channel, so we can chat.

Just copy the Markdown from the README of Nature Zen :+1:

[2019-09-12 19:25] RafayelGardishyan opened #19 "VOTE: Do we want to use Patreon"
Hi everyone,

If we want financial support, we can do it by starting a crowdfunding page. The easiest way to do this is by using Patreon.

Next week, 19 September @ 20:00 we're going to vote is we are going to use this service.

Bye

[2019-09-12 19:43] RafayelGardishyan opened #20 "Set up Firebase"
As we are going to make a multiplayer game, we have to store user data on a server like thing, that's called a database. For real time database it's very useful to use Google Firebase and someone has to set up an account for this.

Do that!

[2019-09-13 10:39] robkruger commented on #20
Email: teamoctane.djog@gmail.com
Password: Where should I post that?

[2019-09-13 11:02] richelbilderbeek commented on #20
I suggest a PM to the people in charge will do. Iff needed, we could make a private GitHub repo to store private info like that.

[2019-09-13 12:16] richelbilderbeek commented on #3
I think IntelliJ Idea made it as the most common IDE.

[2019-09-13 12:17] richelbilderbeek commented on #10
AFAICS, we voted a 'No'.

[2019-09-13 12:17] richelbilderbeek commented on #7
AFAICS, we voted the LWJGL.

[2019-09-13 12:18] richelbilderbeek commented on #9
As far as I remember, we voted a 'Yes'.

[2019-09-13 12:18] richelbilderbeek commented on #8
What was the result?

[2019-09-13 12:26] richelbilderbeek commented on #8
Ah, I see at #14 we voted against Maven :rainbow:

[2019-09-13 12:26] #8 closed

[2019-09-26 11:47] richelbilderbeek opened #21 "Assign formal team roles"
It's a good idea to write in the README what the team roles are and who fulfills these. Even I may forget otherwise :-)

Currently, all it says is:

Name|Website
----|-----
[Richel](https://github.com/richelbilderbeek) | [pirouette](https://github.com/richelbilderbeek/pirouette)
[Rafayel](https://github.com/RafayelGardishyan) | [E-mail](mailto:rgardishyan@gmail.com)
[Rijk](https://github.com/Rijk-

[2019-09-26 18:22] RafayelGardishyan commented on #21
I suggest for me to be a medior developer or a senior developer. Rijk to be senior, because he is one of the Java experts and as we have voted me to be the chairman

Joshua and Hans could be medior developers, Rob also
I think Mart could also be a medior en Bram and the other newbees be Junior Developers

[2019-09-27 12:43] richelbilderbeek commented on #21
Great. Now to finish the Issue, put that into the README :+1:

[2019-09-29 10:41] richelbilderbeek commented on #19
@RafayelGardishyan: what was the outcome of the vote?

[2019-09-29 10:43] #14 closed

[2019-09-29 10:44] richelbilderbeek commented on #13
Friday is closed for now, until there is enough interest to revive it.

[2019-09-29 10:44] #13 closed

[2019-09-29 10:45] richelbilderbeek commented on #4
In that case, I suggest not to host the game on Itch for now and to close this Issue.

[2019-09-29 10:49] richelbilderbeek opened #22 "FYI: join/help the tresinformal team"
The Groninger research unit TRES is working on [a C++ with SFML game](https://github.com/tresinformal/game), every two weeks (before the [keivrijdag](https://github.com/richelbilderbeek/keivrijdag)) from 17:00-19:00.

If needed, I will ask Team Octane for assistance.

If true, then I will need an email from your parents agreeing on this.

[2019-10-01 18:31] RafayelGardishyan commented on #22
I can on some dates. Ask me if you need help

[2019-10-01 18:32] RafayelGardishyan opened #23 "ABSENCE: @RafayelGardishyan"
I am absent this week. Reason: Hilversum travel for debate

[2019-10-01 18:46] richelbilderbeek commented on #23
OK, enjoy!

[2019-10-01 18:46] richelbilderbeek commented on #22
@RafayelGardishyan: thanks! I will!

[2019-10-03 14:30] richelbilderbeek opened #24 "ABSENCE: Jan"
Jan is ill :-(

Get well soon!

[2019-10-03 16:14] Joshua260403 opened #25 "ABSENCE: me"

[2019-10-03 17:36] janderkkotlarski commented on #24
Thanks!

[2019-10-03 18:33] martje127 commented on #25
oke

[2019-10-03 18:33] #25 closed

[2019-10-03 18:33] martje127 commented on #24
oke get wel soon

[2019-10-03 18:33] #24 closed

[2019-10-03 18:34] martje127 commented on #23
ok see you next week

[2019-10-03 18:34] #23 closed

[2019-10-03 18:47] #18 closed

[2019-10-03 19:06] richelbilderbeek opened #26 "Suggest to vote: use tests yes or no"
Not everyone believes in the benefits of using tests. Because this *is* a course, I would not mind teaching that without tests bigger projects end up in chaos.

I suggest to vote if we'll use tests yes or no.

[2019-10-03 19:08] richelbilderbeek opened #27 "Learn how to use git develop branch"
We already have a `develop` branch. I think Bram needs to learn how to use `git` and some others may need a refresher.

[2019-10-04 10:05] richelbilderbeek opened #28 "Pick Java Style"
I suggest [the Google Java Style Guide](https://google.github.io/styleguide/javaguide.html), as it is the first hit when Ducking on 'java style guide'

[2019-10-04 10:06] richelbilderbeek opened #29 "Write class for player"
There needs be a class for a player. For starters, a player has an x, y and angle. Write the class and test it.

[2019-10-04 10:06] richelbilderbeek opened #30 "Write class for game"
There needs to be a class for the game logic, called 'game'.

For starters, a game contains a score and (if available) a player.

[2019-10-04 10:08] richelbilderbeek opened #31 "Write class to show the game graphically"
There needs to be a class that displays the game graphically. I suggest to call it `gameView`.

A `gameView` first shows 'just something'. If available, a `gameView` has a `game` to display.

[2019-10-04 10:09] richelbilderbeek commented on #26
I am sorry, I undo this. Without tests we cannot teach the younger team members, nor can we communicate clearly, thus we cannot collaborate.

We will tests, no discussion.

[2019-10-04 10:09] #26 closed

[2019-10-04 10:13] richelbilderbeek opened #32 "Pick Java testing framework"
The person that assigns him/herself this Issue:

 * Duck for a Java testing framework for max 45 mins
 * Will read about at least 2 Java testing frameworks
 * Will discuss the pro and cons of each Java testing framework in a meeting, 3 minutes max per testing framework
 * Team members will vote for one option
 * That is the testing framework guide we'll use

[2019-10-04 10:14] richelbilderbeek opened #33 "Write class for shell"
There needs be a class for a shell. Call it `shell`.

For starters, a shell has an x, y and angle. Write the class and test it.

[2019-10-04 10:29] Joshua260403 commented on #33
Tanks dont shoot rockets tanks shoot shells,please call it a shell if it
fires the big cannon and a bullet when it fires a machine gun

Op vr 4 okt. 2019 12:14 schreef Richel Bilderbeek <notifications@github.com

[2019-10-04 17:30] Rijk-van-Putten commented on #29
Already done

[2019-10-04 17:30] #29 closed

[2019-10-04 17:32] Rijk-van-Putten commented on #11
If you add alll the libs to your IDE and add the main funcion: org.djog_unos.tankgame.game.TankGame it should work

[2019-10-04 17:33] Rijk-van-Putten commented on #30
Already made, the main class TankGame overrides the abstact class Game

[2019-10-04 17:33] #30 closed

[2019-10-04 17:37] Rijk-van-Putten commented on #19
@richelbilderbeek I think the outcome was that we would decide later.

[2019-10-10 14:26] richelbilderbeek opened #34 "Rafayel: make a git commit to fairytale.md"
Use `git` to clone this repo to your harddrive, modify it, then use `git` to push it.

[2019-10-10 14:26] richelbilderbeek opened #35 "Rijk: make a git commit to fairytale.md"
Use `git` to clone this repo to your harddrive, modify it, then use `git` to push it.

[2019-10-10 14:26] richelbilderbeek opened #36 "Joshua: make a git commit to fairytale.md"
Use `git` to clone this repo to your harddrive, modify it, then use `git` to push it.

[2019-10-10 14:26] richelbilderbeek opened #37 "Mart: make a git commit to fairytale.md"
Use `git` to clone this repo to your harddrive, modify it, then use `git` to push it.

[2019-10-10 14:27] richelbilderbeek opened #38 "Bram: make a git commit to fairytale.md"
Use `git` to clone this repo to your harddrive, modify it, then use `git` to push it.

[2019-10-10 14:27] richelbilderbeek opened #39 "Aram: make a git commit to fairytale.md"
Use `git` to clone this repo to your harddrive, modify it, then use `git` to push it.

[2019-10-10 16:23] RafayelGardishyan commented on #34
Done

[2019-10-10 16:23] #34 closed

[2019-10-10 16:28] RafayelGardishyan opened #40 "Create a class for managing the Textures/Images"
To begin with a good structure we must create some of the basic classes.
One of them is the Texture manager which contains all the paths to textures and the Texture objects.

[2019-10-10 16:30] RafayelGardishyan opened #41 "Create a class for managing the game logic"
To begin with a good structure we must create some of the basic classes.
All the graphics and the logic need to be separated because the code then will be clear. So make a class to manage all the logic

[2019-10-10 16:32] RafayelGardishyan opened #42 "Create a class for managing game graphics"
To begin with a good structure we must create some of the basic classes.
The game graphics and logic must be separated to make the code clean.
Make a class which uses the textures of the texture manager class and displays them on the screen

[2019-10-10 17:05] Joshua260403 opened #43 "ABSENT AGAIN: me again"
Time wise its a bit harder for me to get there now i live in Meerstad.
Ill try to follow the project from home as much as i can but i definitely wont be able to be the person who knows everything about the project.

Note that i will be fact checking everything since i am the guy who reads military articles and study ww2

[2019-10-10 17:31] Joshua260403 opened #44 "Make Bram and Aram link to the correct page"
Instead of going to mart's github page i changed it to go to the github homepage.

Please make it so it goes to the correct user page

[2019-10-10 17:32] Joshua260403 commented on #36
how bout i just edit via github

[2019-10-10 17:49] martje127 commented on #40
it is done

[2019-10-10 17:49] #40 closed

[2019-10-10 17:49] #41 closed

[2019-10-10 17:50] #37 closed

[2019-10-10 17:53] RafayelGardishyan opened #45 "IMPORTANT! : CREATE YOUR OWN BRANCH"
Create your own branch to work on. Ask @richelbilderbeek for instructions.
This is important to keep the github clean
Nobody pushes to master. Pushing to develop is allowed but not preferred.
So just push to your own branch an ask @RafayelGardishyan or @Rijk-van-Putten or @Joshua260403 to merge your branch with develop and master

[2019-10-10 17:55] #42 closed

[2019-10-10 17:58] janderkkotlarski commented on #45
Done!

[2019-10-10 18:09] #31 closed

[2019-10-10 18:23] richelbilderbeek commented on #43
Too bad, never move away from the City of Angels.

[2019-10-10 18:23] #43 closed

[2019-10-10 18:41] #39 closed

[2019-10-10 19:25] richelbilderbeek commented on #45
Next week, Oct 17th, we'll do git merging with the juniors, including the rule never to push to master as a junior.

[2019-10-10 21:17] richelbilderbeek commented on #43
@Joshua260403: I will create some can-do-from-home Issues to get your wisdom in our game.

For example, did you knew that tanks shoot shells, instead of bullet :grin: ?

[2019-10-10 21:35] Joshua260403 commented on #43
Good idea

Also,
Guns shoot bullets (except shotguns, they shoot shells, but not tank shells)
AT-guns shoot shells
Autocannons shoot cartridges
Rocket lauchers launch rockets
Planes sometimes shoot missles
Ground vehicles shoot missles

Op do 10 okt. 2019 23:17 schreef Richel Bilderbeek <notifications@github.com

[2019-10-11 08:44] richelbilderbeek opened #46 "Name three very different tank types"
I want three very different tank types, e.g. a slow powerful one, a fast one, and a stealthy one.

@Joshua260403: could you decide on the three most different tank types there are?

[2019-10-11 09:06] Joshua260403 commented on #46
Could someone pls fix the table i cant seem to get it right

[2019-10-11 12:44] Joshua260403 commented on #46
I came up with a new branch:

Infantry support
Armored cars, IFVs, APCs
Fast, stealthy (as richel said)
Weak armor and guns
example: BM13,  panzerwerfer 42, M8 greyhound

[2019-10-12 07:51] Joshua260403 commented on #46
Oh and for three very different AFVs:
sdkfz 234/2 puma: very fast, "stealthy", weak gun, medium armor
IS-2: very slow, very powerful gun, strong armor
M4A3E2(76)w Sherman Jumbo: slow, medium gun, very strong (frontal) armor

[2019-10-12 08:31] richelbilderbeek commented on #46
Tech tree sounds awesome to me! Will make some Issues with these suggestions soon :+1:

[2019-10-12 10:37] #36 closed

[2019-10-12 10:38] Joshua260403 commented on #17
Im pretty sure we already decided on what the game is going to be...
What is this for?

[2019-10-12 10:53] richelbilderbeek commented on #17
One month old, let's close it :+1:

[2019-10-12 10:53] #17 closed

[2019-10-12 11:03] richelbilderbeek commented on #46
(note I cannot fix the tables either :confused:)

To prove I have the skillz:

A|B
---|---
1|2
3|4

[2019-10-13 09:11] richelbilderbeek commented on #22
I polled the other team: you are all welcome

[2019-10-13 09:11] #22 closed

[2019-10-13 09:14] richelbilderbeek opened #47 "FYI: option to join the tresinformal team"
The Groninger research unit TRES is working on [a C++ with SFML game](https://github.com/tresinformal/game), every two weeks (before the [keivrijdag](https://github.com/richelbilderbeek/keivrijdag)) from 17:00-19:00.

They allow new members, including Team Octane!

There are no costs and the meeting are not affiliated with anything. There will be people drinking some beer. There will be people tha

[2019-10-13 09:22] richelbilderbeek commented on #47
Unassign if you've read this :+1:

Will close Issue after Oct 31st 2019.

[2019-10-13 10:00] Joshua260403 commented on #47
Wait on what day is it

[2019-10-13 10:14] richelbilderbeek commented on #47
Every two weeks on a Friday.

[2019-10-14 08:37] richelbilderbeek opened #48 "FYI: 21:00-ish break go to CMB"
FYI: at the 21:00-ish break, we'll go the Central Medical Library:

 * @RafayelGardishyan will hand in a book he borrowed
 * @richelbilderbeek will pick up a book

Why? Because the CMB is awesome and opened until 21:30.

[2019-10-17 16:55] Joshua260403 opened #49 "ABSENCE: Im ill"
If someone could keep me updated that would be amazing.

[2019-10-17 16:55] Joshua260403 commented on #49
Also next week ill be on vacation

[2019-10-17 17:23] #44 closed

[2019-10-17 18:31] Hans-Bouwman opened #51 "Battlegroud enviroment(s)"
What should the setting(s) be for the tank battles?

Settings:
- grassland
- tundra
- desert

[2019-10-17 18:34] Hans-Bouwman opened #52 "Vegetation"
Do we want to add:
- Trees
- Hedges

[2019-10-17 18:35] robkruger commented on #51
I suggest we create maps, and for each setting we have a different map.

[2019-10-17 18:37] ghbouwman opened #53 "Water"
Do we want to add:

- lakes
- rivers (and thus probably bridges)
- seas at the edge of maps (perhaps with beaches)

[2019-10-17 18:42] Hans-Bouwman opened #54 "Buildings/infrastrucure"
Do we want to add:

villages (cities might be a bit too much)
roads (asphalt or dirt)
bunkers
machine gun nests
electricity/telecom poles

these things could just be aesthetic or part of the mechanics

[2019-10-17 18:45] Hans-Bouwman opened #55 "Terrain"
Do we want to add:

trenches/ditches
hills
craters (these could be created by shell impacts in the game)

[2019-10-17 18:49] Hans-Bouwman opened #56 "Time"
Do we want to add different times of day:

day
night
dawn
dusk

[2019-10-17 18:50] Hans-Bouwman opened #57 "Weather"
Do want to add different types of weather:

sun
rain
fog
thunder
snow
duststorm

[2019-10-17 18:53] Hans-Bouwman opened #58 "Obstructions and traps"
Do we want to add:

minefields
concrete blocks
Czech hedgehogs

[2019-10-17 19:00] Hans-Bouwman opened #59 "Gamemodes"
What gamemodes do we want to add?

Gamemodes:
- Team deathmatch
- Assault
- F4A

[2019-10-17 19:03] Rijk-van-Putten opened #60 "Convert screen coordinates to world coordinates"
We need a way to convert screen coordinates to world coordinates.

[2019-10-17 19:44] Hans-Bouwman opened #61 "Player size min/max"
What should the player size be?

This will probably be different for different gamemodes.

This is important because it impacts a lot of other design decisions, like map size.

[2019-10-17 19:46] richelbilderbeek commented on #49
@Joshua260403: first, get well soon!

Second, here's an update:

 * Rafayel is busy getting Travis to run
 * Rijk is busy separating the OpenGL graphics display from the game logic
 * Hans is making lots of Issues
 * Rob did some Issues
 * Bram and Mart practiced git branching

Third, you'd be welcome to join [https://github.com/tresinformal/game](https://github.com/tresinformal/game). I just need

[2019-10-17 19:47] Hans-Bouwman opened #62 "Maps"
Do we want to create a number of premade maps, randomly generate everything, or something in between like templates that are slightly modified every game?

[2019-10-17 19:53] robkruger commented on #62
https://github.com/djog/djog_unos_2019/issues/51#issuecomment-543306383

[2019-10-17 19:54] robkruger commented on #61
I think we should start small, 2v2 or 4v4 and eventually create bigger gamemodes with more players

[2019-10-17 19:57] richelbilderbeek commented on #48
Well done @richelbilderbeek. In two weeks, let's try again with @RafayelGardishyan's book :+1:

[2019-10-17 19:58] richelbilderbeek commented on #47
* Mart is interested and parents agree
 * Rob is interested, need contact with parents

[2019-10-17 19:59] richelbilderbeek commented on #45
Enough for now, closing this Issue :+1:

[2019-10-17 19:59] #45 closed

[2019-10-17 20:00] richelbilderbeek commented on #38
Well done :+1:

[2019-10-17 20:00] #38 closed

[2019-10-17 20:00] richelbilderbeek commented on #35
Well done :+1:

[2019-10-17 20:00] #35 closed

[2019-10-17 20:00] richelbilderbeek commented on #32
We'll use JUnit

[2019-10-17 20:00] #32 closed

[2019-10-20 16:59] #60 closed

[2019-10-20 17:16] martje127 commented on #51
i could not find a pixel tudra from above, and witch biomes do i need to make more.

[2019-10-20 17:40] richelbilderbeek commented on #51
Just use Google maps and search for 'tundra', e.g. [https://goo.gl/maps/HHUt7K8k2GVicpp67](https://goo.gl/maps/HHUt7K8k2GVicpp67)

[2019-10-27 17:15] richelbilderbeek commented on #48
Done!

[2019-10-27 17:15] #48 closed

[2019-10-27 17:17] richelbilderbeek opened #63 "FYI: the tresinformal team meets weekly"
The Groninger research unit TRES is working on [a C++ with SFML game](https://github.com/tresinformal/game), **every Friday** from 17:00-19:00.

They allow new members, including Team Octane!

There are no costs and the meeting are not affiliated with anything. There will be people drinking some beer. There will be people that take a break to smoke.

If you want to join: great! But -I am sorry to

[2019-10-27 17:18] richelbilderbeek commented on #47
They meet weekly now, continue this Issue at #63

[2019-10-27 17:18] #47 closed

[2019-10-27 17:23] richelbilderbeek opened #64 "FYI: teach at Jimmy's in Appingedam"
Jimmy's is an institution aimed at older teenagers where you can ask all the question you've always wanted to know about drugs, parents, love, etc. Additionally, they organise cool activities!

There will be a workshop I will teach at Jimmy's in Appingedam, [Facebook event here](https://www.facebook.com/events/1191165741080350/):

![72752685_967588993611318_8707463137944666112_n](https://user-imag

[2019-10-27 17:41] Joshua260403 commented on #64
Ik kan waarschijnlijk niet, 15 november is ook de open dag van de Universiteit Twente

[2019-10-27 17:44] Joshua260403 commented on #64
Nvm it is possible, but I might be a little late. I want to come

Op zo 27 okt. 2019 18:24 schreef Richel Bilderbeek <notifications@github.com

[2019-10-27 17:47] richelbilderbeek commented on #64
You'd be welcome to join in any time. In case you're in doubt: I will pay your travel expenses!

At 17:30-18:30 will be -probably- pizza, want us to order one for you too?

[2019-10-27 17:50] Joshua260403 commented on #64
No need for pizza for me

[2019-10-27 17:50] richelbilderbeek opened #65 "FYI: Wednesday the 6th 19:00-22:00: CIT meeting Groningen Tech Exchange about IoT & Domotics"
See [here](https://www.rug.nl/society-business/centre-for-information-technology/calender/groningen-tech-exchange).

If at least one of you wants to go, I'll join as well.

[2019-10-27 17:56] Joshua260403 commented on #65
I can't sadly

[2019-10-27 18:17] Rijk-van-Putten commented on #64
I don't know processing

[2019-10-27 18:29] richelbilderbeek commented on #64
Processing, a Java dialect, is what I teach the 7-12 year old kids, see [Dutch material here](https://github.com/richelbilderbeek/processing_voor_jonge_tieners). I think one hour of preparation is enough for each Team Octane member to be able to teach. We could try it on any Friday :rainbow:

[2019-10-28 09:06] Rijk-van-Putten opened #66 "Text rendering"
Text rendering is really complicated in JWJGL. I saw a good tutorial to do this.

[2019-10-31 12:18] janderkkotlarski opened #67 "Not present on 31 Oktober 2019"
I will not be present because I still have a cold.

[2019-10-31 12:23] richelbilderbeek commented on #67
Get well soon :rainbow:

[2019-10-31 18:16] robkruger commented on #56
There is a time variable now, but there is no visible time

[2019-10-31 18:29] robkruger opened #68 "Tank should fire a shell when left mouse button is clicked"
I think the tank should fire a shell only when the left mouse button is clicked, instead of the spraying it does now.

[2019-10-31 18:56] Rijk-van-Putten commented on #33
Done a while ago

[2019-10-31 18:56] #33 closed

[2019-10-31 18:57] #21 closed

[2019-10-31 19:08] #68 closed

[2019-10-31 19:14] robkruger opened #69 "Collision detection"
We have to have a function to handle collisions

[2019-10-31 19:17] janderkkotlarski opened #70 "How does one use Intellij IDEA to make the project work?"
I keep bumping into the same issues after finally getting java and IDEA installed, namely not knowing what files to put in what configuration file.
I still don't know whether I configured the libraries correctly and then getting the project to run is impossible, because the run button does not work.
I know I still have to add some file somewhere, but I forgot which exact file(s) and into what.
It

[2019-10-31 19:39] Rijk-van-Putten opened #71 "Only the turret of the tank should rotate"
Currently the whole tank sprite is rotating to the mouse cursor. Only the top part of the tank should rotate.

Make sure that only the top part of the tank rotates to the mouse cursor.

[2019-10-31 19:50] Hans-Bouwman opened #72 "Player controls"
I think everyone agrees that players will:
- Aim with the mouse.
- Move with WASD.

Move how exactly? Either:
- A & D to turn, W & S for forwards and backwards.
- WASD for north, west, south & east respectively.
- Or something else.

[2019-10-31 20:43] Hans-Bouwman opened #73 "GLSL version"
What GLSL version are we going to use?

[2019-10-31 21:08] Joshua260403 commented on #61
One platoon, 5 players per team

[2019-10-31 21:09] Joshua260403 commented on #71
Its called a turret

[2019-10-31 21:10] Joshua260403 commented on #58
Lemme correct your terminology and add something i very much like:

Nutcracker mines
Landmines
Czech hedgehogs
Dragon teeth

[2019-10-31 21:11] Joshua260403 commented on #55
Also hedgerows

[2019-10-31 21:12] Joshua260403 opened #74 "Oh dear, i forgot"
Was too busy setting up my ethernet and reinstalling raspbian on my raspi

[2019-10-31 21:13] #49 closed

[2019-10-31 21:17] Joshua260403 commented on #51
I cant remember the last time tanks battled in a tundra but ok

We defo need the following tho:
- [ ] snowy hills
- [ ] desert
- [ ] fields

[2019-10-31 21:20] Joshua260403 commented on #74
will be there next week tho

also i can start work on a tech tree just assign me to an issue if i should

and assign me to any issue to fact check because historical accuracy is important

[2019-10-31 21:25] Joshua260403 commented on #72
I'd say A and D to steer
and W and S to move forwarda and backwards

We also could make the steering accurate, but ill need to explain more for that

[2019-10-31 21:27] Joshua260403 commented on #52
Trees, hedgerows

[2019-11-01 12:06] robkruger commented on #69
Doesn't really work properly but it does the job for now

[2019-11-01 12:25] robkruger commented on #70
https://github.com/djog/djog_unos_2019/blob/rob/doc/configure_idea.md

[2019-11-04 08:43] richelbilderbeek commented on #74
Hmmm, it appears I read this a bit late :rainbow:

See you this Thursday then :+1:

[2019-11-04 08:43] #74 closed

[2019-11-04 08:44] #67 closed

[2019-11-04 08:44] #63 closed

[2019-11-04 08:45] #19 closed

[2019-11-04 10:23] janderkkotlarski commented on #70
Do you work on Windows 7, Windows 10 or which Linux distro?
Because I tried do apply what you wrote down, but with no success.
I just can't get the last step to work, and I don't know whether I am doing something wrong, or the OS is playing tricks or whether I installed IDEA properly on my Windows 7 PC.

[2019-11-04 10:34] robkruger commented on #70
I work on Windows 10

[2019-11-04 16:30] janderkkotlarski commented on #70
I cannot select TankGame and I'm on Win 7.

[2019-11-07 13:48] janderkkotlarski opened #75 "Merge conflict when merging develop into local branch."
I'm encountering a merge conflict when merging develop into my local branch and it's driving me insane, because I have no interest solving merge conflicts between master and develop outside of my own local branch, because I assume I will have to solve this each and every time I want to keep my local branch updated.

What do?

[2019-11-07 14:49] richelbilderbeek commented on #75
AFAIK, there are some difficulties with merging, due to the Java and IDEA setup.

I will assign medior @Rijk-van-Putten to help you out.

[2019-11-07 14:53] richelbilderbeek opened #76 "Start up Kirsten29"
We'll have a new team member, @Kirsten29

 * [ ] Add her to the team
 * [ ] Show her the website
 * [ ] Help her get started

[2019-11-07 14:53] richelbilderbeek commented on #76
I think @martje127 will enjoy this :+1:

[2019-11-07 15:05] janderkkotlarski commented on #75
Ugh, Java and IDEA spaghettios...

[2019-11-07 15:08] richelbilderbeek commented on #75
It's part of the learning curve :rainbow: :+1:

[2019-11-07 15:17] richelbilderbeek commented on #73
I notice on my rather up-to-date Lubuntu computer:

[code]

We should vote on a version that we all have.

[2019-11-07 15:25] richelbilderbeek opened #77 "Document how to use the unit tests"
Currently, we all have to figure out how to use the unit testing framework. It would be better to document how to do so. A YouTube video would be even awesomer!

[2019-11-07 15:36] #65 closed

[2019-11-07 15:36] richelbilderbeek commented on #27
I predict we can.

[2019-11-07 15:37] #27 closed

[2019-11-07 17:28] Rijk-van-Putten commented on #73
It depends on hardware, not software. we should use a version that works on all computers.

[2019-11-07 18:18] Joshua260403 commented on #46
Other option:
Magnification
It defines how much the player can zoom out to spot enemies and shoot them.

Also howitzer could be able to shoot over obstacles like hills, walls or bunkers

[2019-11-07 19:02] robkruger commented on #72
I agree with @Joshua260403 and will implement that for now

[2019-11-07 19:03] martje127 opened #78 "position tank in the screen"
Which position should the tank be on the screen:
- the tank needs to be in the middle of the screen

[2019-11-07 19:05] kombossen opened #79 "BUG: I can't shoot"
**Describe the bug**
If I press the mouse button on my touchpad I can't shoot.

**To Reproduce**
Press the mouse button on a touchpad

[2019-11-07 19:05] martje127 commented on #78
sorry it was already voted

[2019-11-07 19:24] martje127 commented on #78
i changed the issue

[2019-11-07 19:27] robkruger opened #80 "Add a new object to the map"
Try to understand how the map is made and add a new tree, box or bush to the map

[2019-11-07 19:30] robkruger opened #81 "Create a new object"
Currently, we have trees, bushes and boxes to add as scenery to the map. Think of a new object that we can add as scenery and create it. Add it to all the functions it's needed.
You can look how for example trees are made.

[2019-11-07 19:36] richelbilderbeek opened #82 "Add Tank to tech tree"
When I Duck for 'My Little Pony Tech Tree Tank' I find [Tank](https://mlp.fandom.com/wiki/Tank). This concludes that Tank should be added to the tech tree.

![Tank_flying_around_S2E7](https://user-images.githubusercontent.com/2098230/68421286-3e4e4980-019e-11ea-86a9-1351057461a9.png)

[2019-11-07 19:37] robkruger opened #83 "Add a new background"
Think of a new setting, for example a beach or mountains, and find a suiting background. Add that to the game, but don't delete the current one. Make it possible to choose the background, not on screen but in the code.

Like this (in background.init()):
[code]

[2019-11-07 19:47] Joshua260403 commented on #80
or a hedgehog (not the animal, the iron obstacle)

[2019-11-07 19:48] janderkkotlarski commented on #75
It' s clear now.

[2019-11-07 19:49] Joshua260403 commented on #82
This one doesn't have a gun, so it won't be strong enough. However, we could add a different kind of [tortoise](https://en.wikipedia.org/wiki/Tortoise_heavy_assault_tank)

[2019-11-07 19:53] janderkkotlarski commented on #70
Also solved.

[2019-11-07 19:53] #70 closed

[2019-11-07 19:54] #75 closed

[2019-11-07 20:00] robkruger opened #84 "The turret should rotate at a certain speed, instead of the almost teleporting it does now"
Currently, the turret almost teleports to rotate to the mouse. In reality, it has a maximum speed. Implement that.

[2019-11-07 20:01] Hans-Bouwman opened #85 "Skins"
We could add skins for tanks to the game. You can earn these for things like 100 kills. This way good players can flex on dem n00bs.

[2019-11-07 20:28] RafayelGardishyan opened #86 "Create a view manager"
Create a view manager to switch between the views like:
1. Menu screen
2. Tech tree & Vehicle selection
3. Game (mode) selection
4. Game view
5. After game view: 1. Win! 2. Game over :(
6. Profile
7. Login/Registration

[2019-11-07 20:33] Hans-Bouwman opened #87 "GLSL shaders code rewrite"
Rewrite the GLSL 1.30 code to GLSL 1.20 code for the files in `assets/shaders/` so the game can run on all computers.

[2019-11-07 20:34] Kirsten29 commented on #80
Tree added. Hedgehog's next.

[2019-11-07 20:46] richelbilderbeek commented on #82
Let's see what happen and prioritize *even more important* things for now :+1:

[2019-11-07 20:46] #82 closed

[2019-11-07 20:53] Hans-Bouwman commented on #73
version 1.20 should work on all computers, see issue #87

[2019-11-07 20:53] #73 closed

[2019-11-08 11:16] Joshua260403 commented on #85
Lets call them camouflages, even if they arent really for camouflaging, since its a historically correct term

[2019-11-09 10:45] Rijk-van-Putten commented on #84
@robkruger  You broke the shooting system. please fix

[2019-11-09 10:59] robkruger commented on #84
Works fine for me?

[2019-11-09 11:09] Rijk-van-Putten commented on #66
Text rendering works, but only in a separate main function.

[2019-11-09 11:14] Rijk-van-Putten commented on #66
I will make a new issue to fix this

[2019-11-09 11:14] #66 closed

[2019-11-09 11:17] Rijk-van-Putten opened #88 "Make Text Rendering work in the game"
**Is your feature request related to a problem? Please describe.**
Currently the text rendering only works in a separate main function.

**Describe the solution you'd like**
The text rendering should also work in our game.

It probably has to do something with the GLFW & OpenGL setup.

[2019-11-09 11:18] Rijk-van-Putten commented on #88
You can find the main function in the textRendering package

[2019-11-09 11:24] Rijk-van-Putten commented on #84
@robkruger I discovered I works fine in the first 360 degrees. But if you rotate more than that it doesn't.

[2019-11-09 11:27] Rijk-van-Putten commented on #84
@robkruger If it works well on your PC then you can leave it as it is now and I will create an issue.
Thanks for sending the video.

[2019-11-09 11:37] robkruger commented on #84
Ah, I see it. It's broken while moving

[2019-11-09 11:39] robkruger opened #89 "Shooting is broken"
The shooting is broken while you move. It has to be fixed

[2019-11-09 12:41] Rijk-van-Putten commented on #89
Its working again! Nice!

[2019-11-09 18:25] #89 closed

[2019-11-09 18:57] RafayelGardishyan commented on #88
@Rijk-van-Putten
You copied some random code from somewhere that doesn't fit in our project because it's creating another window just for text. So you Font-rendering package is not usable, not without completely modifying it

[2019-11-09 20:54] robkruger commented on #87
@RafayelGardishyan We agreed to use 120, so why did you revert to 330?

[2019-11-09 22:07] Kapi369 commented on #80
Hello, is it possible to still work on this issue ?

[2019-11-09 22:07] Kapi369 commented on #83
Hello, is it possible to still work on this issue ?

[2019-11-10 07:57] richelbilderbeek commented on #80
@Kapi369: yes, it is! Assign yourself and this Issue is all yours :+1:

[2019-11-10 08:56] Rijk-van-Putten commented on #88
@RafayelGardishyan ????
Its just the default STB library included JWJGL3. We don't need to modify a lot of code. Just change some OpenGL settings and it will probably work.

[2019-11-10 08:57] Rijk-van-Putten commented on #88
@RafayelGardishyan Yes, I copied the official example form the lWJGL repo

[2019-11-10 12:13] Kapi369 commented on #80
Hey @richelbilderbeek I started to work on it already but seems like i haven't permissions to self-assign issue? Could you assign it to me please?

[2019-11-10 12:14] Joshua260403 commented on #80
Done :+1:

[2019-11-10 12:38] Kapi369 commented on #80
Just one more question. I can't make project run. I added java 1.8. Added LWJGL 3 modules to project but it still isn't working. Is there something more I need to do? If so please could you also update readme.md ?

[2019-11-10 12:40] Joshua260403 commented on #80
What IDE do you use? I use IntelliJ and imported the eclipse project and it
worked without needing to install any libraries manually

Op zo 10 nov. 2019 13:38 schreef Kapi369 <notifications@github.com>:

[2019-11-10 12:55] Kapi369 commented on #80
Ahh is see now. Version i forked didn't import anything, after importing original project everything works fine.

[2019-11-10 12:56] Joshua260403 commented on #80
:+1:

Op zo 10 nov. 2019 13:55 schreef Kapi369 <notifications@github.com>:

[2019-11-13 18:50] robkruger opened #91 "I won't come tomorrow"
Friday we're going to Den Haag with school and I have to wake op at 05:00 already

[2019-11-13 19:01] richelbilderbeek commented on #91
Enjoy! Hope to see you next week :+1:

[2019-11-14 06:19] richelbilderbeek commented on #64
Sent email to Joshua, Mart and Rafayel:

[code]

 * public email: info@jimmysdal.nl

[2019-11-14 07:33] robkruger commented on #64
I can't, I'm still in Den Haag at 16:15

[2019-11-14 07:34] robkruger commented on #64
My e-mail is either robkruger9@gmail.com or 4958@praedinius.nl

[2019-11-14 11:45] Rijk-van-Putten commented on #83
Yes, of course. But please merge develop in your forked repo first.

[2019-11-14 11:46] Rijk-van-Putten commented on #87
@janderkkotlarski did already downgraded everything to 120

[2019-11-14 11:50] Rijk-van-Putten commented on #69
I created a PhysicsManager class, everything works fine.

[2019-11-14 11:50] #69 closed

[2019-11-14 11:52] Rijk-van-Putten commented on #84
Its working again

[2019-11-14 11:52] #84 closed

[2019-11-14 15:03] robkruger commented on #87
Yeah, but @RafayelGardishyan upgraded it back to 330

[2019-11-15 14:11] Joshua260403 commented on #64
I might be on time, I left Enschede at 15:00

[2019-11-15 14:15] richelbilderbeek commented on #64
Want food? If yes, email Ferdi

[2019-11-16 12:59] martje127 commented on #51
i added snow mountains

[2019-11-18 06:25] richelbilderbeek commented on #64
It has been done :+1:

[2019-11-18 06:25] #64 closed

[2019-11-18 15:49] Rijk-van-Putten commented on #88
@RafayelGardishyan are you working on this issue? You have assigned yourself. Otherwise I would like to do this issue because I was working on Text Rendering before.

[2019-11-18 17:23] Rijk-van-Putten opened #92 "BUG: Gradle build error"
**Describe the bug**
When I'am tying to run the game I get this error:
![image](https://user-images.githubusercontent.com/43184442/69074841-73755a00-0a30-11ea-9c3b-e027eb76a15a.png)

[2019-11-19 07:58] richelbilderbeek commented on #92
@Rijk-van-Putten: I have been experimenting with Gradle. AFAIK, I did not merge that to develop yet. You think it was me that caused this? If yes, will clean up :+1:

[2019-11-20 07:19] Rijk-van-Putten commented on #92
@RafayelGardishyan added gradle in the 'IDK' commit: https://github.com/djog/djog_unos_2019/commit/93f8f7d696ced95efd3b482c5fd3696323bbebf1

[2019-11-20 09:56] richelbilderbeek commented on #92
Cool, so I am innocent and @RafayelGardishyan is the one most suited to fix this. I will assign him :rainbow:

[2019-11-21 17:07] janderkkotlarski opened #93 "Jan will not be there, issues to be dumped."

[2019-11-21 18:28] noobie981 opened #94 "BUG: Please help I'm dying"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'my website'
2. Click on 'the hub'
3. Scroll down to 'my acc'
4. See error
THE ULTIMATE BUG
**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop

[2019-11-21 18:32] Joshua260403 commented on #94
I'm sorry but I do not understand the problem. Also I don't get how this issue could relate to this project as you noted iOS as your OS.

[2019-11-21 18:56] noobie981 commented on #94
Got Ya

[2019-11-21 19:08] Joshua260403 commented on #94
I would like you to stop shitposting on github please, thank you.

[2019-11-21 19:18] #91 closed

[2019-11-21 19:18] #93 closed

[2019-11-21 19:20] Rijk-van-Putten commented on #81
@kombossen Added a stone object!

[2019-11-21 19:20] #81 closed

[2019-11-21 19:20] Rijk-van-Putten commented on #78
The Camera class works

[2019-11-21 19:20] #78 closed

[2019-11-21 19:24] Rijk-van-Putten opened #95 "Create unit tests"
Please create unit tests if possible for newly added code: [create_tests.md](https://github.com/djog/djog_unos_2019/blob/master/doc/create_tests.md)

[2019-11-21 19:26] #72 closed

[2019-11-21 19:26] #71 closed

[2019-11-21 19:27] Rijk-van-Putten commented on #52
Trees, Hedges & Hedgedogs are added!

[2019-11-21 19:27] #52 closed

[2019-11-21 19:29] Rijk-van-Putten commented on #51
@martje127  Added 2 new backgrounds!

[2019-11-21 19:29] #51 closed

[2019-11-21 19:30] Rijk-van-Putten commented on #77
I have created [create_tests.md](https://github.com/djog/djog_unos_2019/blob/master/doc/create_tests.md)

[2019-11-21 19:30] #77 closed

[2019-11-21 19:31] Rijk-van-Putten commented on #86
Done

[2019-11-21 19:31] #86 closed

[2019-11-21 19:38] Rijk-van-Putten opened #96 "The tank should have acceleration"
Right now the thank is instantly moving at is top speed. Instead the tank should accelerate. Use this kind of variables to create acceleration:

[code]
Note: Make sure you make use of delta time: `Game.getDeltaTime()`

[2019-11-21 19:43] Rijk-van-Putten opened #97 "The turret should rotate linearly"
Right now the rotating of the turret is speeding up at the beginning and slowing down at the end. This is really annoying if you want to aim accurately. Instead the rotating should go faster and linearly( not speeding up & slowing down).

[2019-11-21 19:58] Rijk-van-Putten opened #98 "Create a gun switching system"
The player should be able to switch guns with the arrow keys. Make a system that does that.
The default gun should be accessed with 1, the second gun with 2, etc.

[2019-11-21 20:00] Rijk-van-Putten opened #99 "Create a machine gun"
Right now the tank can only shoot shells. Create an other type of gun, an machine gun. The machine gun should be selected with the 2 key. The machine gun should also fire much faster & should have another texture.

[2019-11-21 20:25] robkruger commented on #99
If you have found another texture, also apply it to the machine gun nests.

[2019-11-21 20:31] robkruger opened #100 "Machine guns should have a max degree"
I don't know how to clarify it with words, so I made a picture:
![clarification](https://user-images.githubusercontent.com/44906912/69374356-31554e00-0ca6-11ea-8fac-231303d9f025.png)

[2019-11-21 20:49] richelbilderbeek opened #101 "Replace ICQ by Discord"
Now, we have an ICQ link on the README:

![screen](https://user-images.githubusercontent.com/2098230/69375492-c22d2900-0ca8-11ea-8c2b-c26204649642.png)

I suggest to replace this by a link to the Discord server :+1:

[2019-11-21 21:00] richelbilderbeek opened #102 "Create an enum type for the country"
In the game, we now have two factions: the Americans and the Germans.

Make an enum type called 'country' with value 'america' and 'germany'. If possible, test that these values exist.

This enum type will end up in many of our classes :+1:

[2019-11-21 21:01] Joshua260403 opened #103 "Machine guns shoot tracers"
Machine guns should shoot tracers:
 * Make machine guns fire red tracers for now
 * Machine gun ammo belts have a four-to-one tracers pattern, this means that every fifth bullet is a tracer: `. . . . | . . . . | . . . . | . . . . | . . . .` where `|` is a tracer.
 * Tracers should be bright lines on the screen (no smoke or whatever, see [video](https://www.youtube.com/watch?v=PzlvF--6bPI) **Video

[2019-11-22 08:32] Rijk-van-Putten commented on #103
We should have a trail/line renderer and shader first

[2019-11-22 08:33] Rijk-van-Putten commented on #102
Maybe it should be called team

[2019-11-22 08:37] Joshua260403 commented on #102
"Faction"

[2019-11-22 08:38] Rijk-van-Putten commented on #103
@Joshua260403 Do you mean the machine gun @robkruger or the new machine gun for the player in isuue #99??

[2019-11-22 08:39] Joshua260403 commented on #103
Machine guns in general always shot tracers

[2019-11-22 10:48] richelbilderbeek commented on #102
Let's follow @Joshua260403's expertise here, I will change the topic :+1:

[2019-11-22 18:25] Rijk-van-Putten commented on #102
Factions is even better :+1:

[2019-11-22 18:55] Joshua260403 commented on #98
Now hold on there, have you ever seen a tank with more than one gun (apart from the m3 lee).

[2019-11-22 18:56] Joshua260403 commented on #98
I think it would make more sense to have it be a shell switch system.

[2019-11-22 18:57] #98 closed

[2019-11-22 19:00] Joshua260403 opened #104 "Why would we need a gun changing system?"
Tanks usually only have one main gun (not mentioning the m3). So why would we meed a system to switch guns if there is only one.

How about we change it to a shell switching system?

[2019-11-22 19:01] Joshua260403 commented on #99
Im not sure about the 2 key, would make more sense to have 2 select a different kind of shell....

[2019-11-22 19:08] Joshua260403 commented on #104
I think it would be best to have the arrows change the gun you are using (we have to see in what way to do it, e.g. scrolling through them or selecting one) and to use the numbers for switching shells (1: Primary anti tank, 2: secundary anti tank, 3. HE or something like that)

[2019-11-23 08:21] richelbilderbeek commented on #104
I think this is -in effect- the same as switching a gun in other games. Thumbs up for the historical accuracy!

[2019-11-23 10:55] robkruger opened #105 "Create new bullet"
Currently, the machine gun nests shoot shells, which isn't realistic of course. We need new bullets.

Create a enum class named `ProjectileType`, add `shell`, `bullet` and `tracer` in there and rename the `Shell` class to `Projectiles`. Modify that class so that it has a variable which holds it's type and it has a custom texture for all the bullet types.
Another option, although less efficient, is

[2019-11-23 11:02] Joshua260403 commented on #105
Projectile

[2019-11-23 11:03] Rijk-van-Putten commented on #105
👍  but is a tracer a projectile?

[2019-11-23 11:20] Joshua260403 commented on #105
Yes, It's a type of bullet

[2019-11-23 11:24] richelbilderbeek commented on #105
@robkruger: you suggest to use inheritance here with 'Projectile' as the base class. I strongly advice against it, as inheritance is hard to use correctly and easy to use incorrectly :rainbow: .

An easy alternative is to use a 'Projectile' class, with an enum type called 'type'. This is the approach we used in Nature Zen. It is simple and scales better (i.e. it prevents a class explosion).

OTOH,

[2019-11-23 11:32] robkruger commented on #105
@richelbilderbeek I meant the Nature Zen approach, but maybe didn't explain it too well...

[2019-11-23 11:34] richelbilderbeek commented on #105
Cool, than you have my complete blessing! Good luck implementing it :+1:

[2019-11-23 16:19] Rijk-van-Putten commented on #105
I'll create a projectile system with enums. It'll be a bit more complex so I'll remove the good first issue label.

[2019-11-23 18:16] Rijk-van-Putten commented on #99
Implemented it with 2 line of code 😄

[2019-11-23 18:17] Rijk-van-Putten commented on #99
merged

[2019-11-23 18:17] #99 closed

[2019-11-23 18:18] Rijk-van-Putten commented on #105
I created a projectile system & merged.

[2019-11-23 18:18] #105 closed

[2019-11-23 18:28] Rijk-van-Putten opened #106 "Create a system to play audio"
Currently we don't have any music or sounds. We need a way to play sounds. JWJGL 3 has the default OpenAL library to play sounds.
Create a system to play audio.

[2019-11-28 19:42] janderkkotlarski opened #107 "Make German tank driving sound"
Make a driving sound for the German tank that sounds authentic.

[2019-11-28 19:43] janderkkotlarski opened #108 "Make US tank driving sound"
Make a driving sound for the US tank that sounds authentic.

[2019-11-28 19:44] janderkkotlarski opened #109 "Make background sound"
Make a background track that really fits the militaristic theme of the game.

[2019-11-28 19:46] #101 closed

[2019-11-29 18:48] robkruger opened #110 "Create a Animation base class"
Currently we have a Sprite class, but for things like explosions, which I added we also need animations. I could be useful to have a base class for this.

[2019-11-29 18:50] robkruger opened #111 "Is there a way to get with which object you're colliding?"
Or do I need to create a new function for that? I need this for the landmines.

[2019-11-30 10:21] robkruger commented on #111
Never mind I did it

[2019-11-30 10:21] #111 closed

[2019-11-30 17:38] Rijk-van-Putten commented on #110
I'll do this

[2019-12-11 11:03] richelbilderbeek opened #112 "Reminder: present tomorrow/Friday at 18:15/18:45"
Dear Team Octane,

Tomorrow there are the DJO presentations. I need Team Octane to show off their work.

 * 18:15: one person with a laptop: check if the game works on the beamer
 * 18:45: the Team [1] is around at DJO before the presentations
 * approx 19:30: the Team [1] presents their work
 * approx 20:00: the Team [1] evaluates the course
 * after that: the Team is welcome until 22:00, but may

[2019-12-11 11:21] Rijk-van-Putten commented on #112
I'll be there arround 18:45

[2019-12-11 15:16] Joshua260403 commented on #112
I'm not sure of I can be there in time

[2019-12-12 11:26] AramPetiet commented on #112
I can be there at 18:15

[2019-12-12 15:46] janderkkotlarski commented on #112
I will be present at 18:45.

[2019-12-12 18:47] Rijk-van-Putten commented on #58
@robkruger added landmines & someone else added hedgehogs

[2019-12-12 18:48] Rijk-van-Putten commented on #54
@robkruger added machine gun nests

[2019-12-12 18:49] #110 closed

[2019-12-12 18:49] #106 closed

[2019-12-12 18:49] #103 closed

[2019-12-15 11:12] richelbilderbeek commented on #112
Well done! I've asked a couple of kids: yours was the favorite presentation.

Some Dutch quotes, from two different kids:

Closing this Issue :+1:

[2019-12-15 11:12] #112 closed

[2019-12-19 16:58] robkruger opened #113 "I forgot if today or last week was the last time before the holidays"
Is DJO open today?

[2019-12-19 18:16] #113 closed

[2020-04-14 16:11] richelbilderbeek commented on #6
It's fine as it is :+1:

[2020-04-14 16:11] #6 closed